.bg-single {
  background-color: #f6e58d;
  border: 0.1rem solid #353b48;
}
.bg-left {
  background-color: #55e6c1;
  border: 0.1rem solid #353b48;
}
.bg-right {
  background-color: #f6e58d;
  border: 0.1rem solid #353b48;
}
